name: 'Run tests'
on:
  - push
  - pull_request

jobs:
  # Any checks that run pre-build
  test:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        uses: actions/setup-go@v2
        with:
          go-version: '1.24.0'
      -
        name: Start test infrastructure
        shell: bash
        run: |
          make setup
      -
        name: Run tests
        shell: bash
        run: |
          make test
